<div class="container-fluid" style="padding:0px">
    <div>
        <label style="padding:0px"><small>Actors List</small></label>
        <div style="padding:0px"><small>Sorted by Total Scenes (Importance)</small></div>
    </div>
    <hr />
    <ul style="padding:10px">
        @foreach (SelectListItem actor in ViewBag.actorsList as SelectList)
        {
            string actor1 = actor.Value.ToString();
            <li>
                <a class="actorLbl" id="@actor1" href="#" onclick="onActorClick(@actor.Value, @ViewBag.schedule)" title="appointments">@actor.Text</a>
            </li>
        }
    </ul>
</div>


