.sideBar {
    /* colorzilla */ 
background: #606c88; /* Old browsers */
background: -moz-linear-gradient(left,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */

}

.right {
    direction: rtl;
}

.hr {
    margin-bottom: 2px; 
    margin-top: 2px;
}

.scentence-tool {
    font-size:small; 
    margin-top: 5px;
}
.dynamic-text {
    margin-top: 5px; margin-bottom: 5px;
}

.time-editor {
    font-weight:bold; 
    padding: .2em .6em .3em;
    text-align: center;
    font-size:75%; 
    line-height:1; 
    width:6em; 
    height:auto;
}