<br />
<div class="container-fluid" style="padding:0px">
    <div class="panel panel-primary" onclick="onSummaryClick()">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Activity Indicators.. Click..</strong>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="panel1">
                Current Work Load ...
            </div>
        </div>
    </div>
</div>
