@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-top:10px; padding-bottom:10px">
    <h1>DOMS</h1>
    <p class="lead">DOMS is a Dubbing Order Management Web Application for Processing Received Clients' Orders during the Different Production Stages from Adaptation to Dubbing and Shipments, in Compliance with Clients Agreements &amp; Contracts</p>
    <p><a href="~/contracts/Index" class="btn btn-primary btn-lg">Dubbing Contracts &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Plan &amp; Track Dubbing Orders</h2>
        <p>
            DOMS gives you powerful, transaction-based tools to register, plan and track new dubbing orders in the different 
            production stages. Order Management Center allows you to record quality issues of both the received and the delivered
            materials, which increases compliance and minimizes errors at both ends.
        </p>
        <p><a class="btn btn-info" href="~/orders/Index">Orders Center &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule Dubbing</h2>
        <p>Increase Resources utilization through efficiently allocating Studios and Teams to perform the dubbing of those order items which are ready, within the given dubbing week.</p>
        <p><a class="btn btn-warning" href="~/scheduling/Index">Schedular &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dubbing</h2>
        <p>Dubbing is made easy, whereby login to Your Studio you'll find all you need to start immediately with the first Actor on List, and by simply clicking on shooting buttons.</p>
        <p><a class="btn btn-success" href="~/dubbing/Index">Studios &raquo;</a></p>
        <p>Arrange Actors appointments to avoid gaps in Studio timetable and to ensure punctuality.</p>
        <p><a class="btn btn-default" href="~/calendar/Index">Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Handle Assemblies &amp; Delivery</h2>
        <p>Capture Mixage and Montage activities, added ME, and Upload. Clients' feedback on delivered materials shall be registered and processed in order to ensure quick / accurate Shipment of final product.</p>
        <p><a class="btn btn-primary" href="~/assembly/Index">Assembly Center &raquo;</a></p>
    </div>
</div>