@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DMS</h1>
    <p class="lead">DMS is a Dubbing Management Web Application for Processing Received Clients' Orders during the Different Production Stages from Adaptation, to Dubbing and Shipments.</p>
    <p><a href="~/orders/Index" class="btn btn-primary btn-lg">Dubbing Orders &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Define New Dubbing Contracts</h2>
        <p>
            DMS gives you a powerful, transaction-based tools to register, plan and track new dubbing orders in the different 
            production stages. Order Management Module allows you to record quality issues of both the received and the delivered
            materials, which increases compliance and minimizes errors at both ends.
        </p>
        <p><a class="btn btn-success" href="~/contracts/Index">Dubbing Contracts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule Dubbing</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-warning" href="~/scheduling/Index">Scheduling &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dubbing</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/dubbing/Index">Studios &raquo;</a></p>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/calendar/Index">Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Handle Delivey &amp; Shipments</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>