@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-top:10px; padding-bottom:10px">
    <h1>DOMS</h1>
    <p class="lead">DOMS is a Dubbing Order Management Web Application for Processing Received Clients' Orders during the Different Production Stages from Adaptation to Dubbing and Shipments, in Compliance with Clients Agreements &amp; Contracts</p>
    <p><a href="~/contracts/Index" class="btn btn-primary btn-lg">Dubbing Contracts &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Plan &amp; Track Dubbing Orders</h2>
        <p>
            DOMS gives you powerful, transaction-based tools to register, plan and track new dubbing orders in the different 
            production stages. Order Management Center allows you to record quality issues of both the received and the delivered
            materials, which increases compliance and minimizes errors at both ends.
        </p>
        <p><a class="btn btn-info" href="~/orders/Index">Orders Center &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule Dubbing</h2>
        <p>Increase Your Resources utilization by efficiently allocating Studios and Teams to perform ready Episodes, and that without overloading.</p>
        <p><a class="btn btn-warning" href="~/scheduling/Index">Schedular &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Perform Dubbing</h2>
        <p>Dubbing is made easy, whereby logging to the Studio, DOMS will guide you through the dubbing activities and where all you need to do is to select an Actor from given list and just click for recording.</p>
        <p><a class="btn btn-success" href="~/dubbing/Index">Studios &raquo;</a></p>
        <p>Calendar allows You set appointments with Actors, avoiding gaps in Studio timing and improving punctuality.</p>
        <p><a class="btn btn-default" href="~/calendar/Index">Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prepare Adaptation</h2>
        <p>Convert translated scripts into workable version for dubbing, preserving lip-sync and time ranges. This module makes adaptation easy through simple editing, taging, timecode insertion features.</p>
        <p><a class="btn btn-success" href="#">Adaptation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Handle Assemblies &amp; Delivery</h2>
        <p>Assembly is where both Mixage and Montage prepare the final product by adding ME, recorded dubbing tracks and uploading a low resolution version for Client review and approval. This module allows for capturing Client Station feedback, address raised issues, and re-assemble for final Shipment.</p>
        <p><a class="btn btn-primary" href="~/assembly/Index">Assembly Center &raquo;</a></p>
    </div>
</div>