@using dubbingModel;
@model IEnumerable<tagType>

@foreach (var type in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">@type.Name</div>
        <div class="panel-body">
            @foreach (var t in type.tags.OrderBy(x => x.Name))
                {
                <span class="label label-default"><span class="glyphicon glyphicon-tag">&nbsp;</span>@t.Name</span>
            }
        </div>
    </div>
}
