<div class="container-fluid" style="padding:0px">
    <ul>
        @{ int cnt = 0; }
        @foreach (SelectListItem actor in new SelectList(ViewBag.actorsList, "voiceActorIntno", "actorName"))
        {
            cnt++;
            string actorId = "act" + cnt;
            string actorName = '"' + actor.Text + '"';
            <li>
                <a class="actorLbl" id="@actorId" onclick="onActorSelectClick(@actor.Value, @actorName)" href="#" title="appointments">@actor.Text</a>
            </li>
        }
    </ul>
</div>


