<div class="container-fluid" style="padding:0px">
    <div class="row" style="padding:0px">
        <div class="col-md-6" style="border:thick">
            <h1 class="badge" style="text-align:center">00&nbsp;:&nbsp;15&nbsp;:&nbsp;00</h1>
        </div>

        <div class="col-md-2" style="border:thick">
            <h1 class="badge alert-success" style="text-align:center">24</h1>
        </div>

        <div class="col-md-4">
            <br />
            <div class="row">
                <div class="col-sm-12">
                    Sourana - Yahan - e2
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Episode 1
                </div>
            </div>
        </div>
    </div>
</div>
