<div class="container-fluid" style="padding:0px">
    <div class="row" style="padding:0px">
        <div class="col-md-6" style="padding:0px">
            <h1 class="badge" id="timeCode" style="text-align:center; width:100%">--&nbsp;:&nbsp;--&nbsp;:&nbsp;--</h1>
        </div>

        <div class="col-md-2" style="padding-left:20px">
            <h1 class="badge alert-success" id="currentScene" style="text-align:center">-</h1>
        </div>

        <div class="col-md-3" style="padding-left:20px">
            <br />
            <div class="row">
                <div class="col-sm-12" id="currentWork">
                    @ViewBag.workName
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="currentEpisode">
                    No Episode
                </div>
            </div>
        </div>

        <div class="col-sm-1" style="padding-top:40px">
            <button class="btn btn-success btn-lg pull-right" id="takenBtn" onclick="onTakenClick()" autofocus title="Taken">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
