@model IEnumerable<dubbingModel.subtitle>
@{ long sheetHdr = ViewBag.sheetHdr; }

<div dir="rtl">
    @foreach (var str in Model)
    {
        if (str.dubbSheetHdrIntno == sheetHdr)
        {
            <div class="row">
                <div class="col-sm-9">@str.scentence</div>
                <div class="col-sm-3"><strong>@str.dubbingSheetHdr.characterName:</strong></div>
            </div>
        }
        else
        {
            <div class="row" style="color:lightgray">
                <div class="col-sm-9">@str.scentence</div>
                <div class="col-sm-3"><strong>@str.dubbingSheetHdr.characterName:</strong></div>
            </div>
        }
    }
</div>

