@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3>Sorry!</h3>
    <p class="lead"><small>Access Denied. Please Contact "Support" for Access Rights.</small></p>
</div>
