@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Fardous Drama<br />
    Dubai, UAE<br />
    <span class="glyphicon glyphicon-phone-alt"></span>
    +971
</address>

<br />
<h5>For Access Rights and other Technical Issues, Please Contact ...</h5>
<address>
    <strong>Support:</strong>   <a href="mailto:yamam@fardous.tv">yamam@fardous.tv</a><br />
    <span class="glyphicon glyphicon-phone"></span> +963 960 601070
</address>

<br />
<h5>For Order Status, Quality Issues and Claims, Please Contact ...</h5>
<address>
    <strong>General Manager:</strong> <a href="mailto:asad@fardous.tv">asad@fardous.tv</a><br />
    <span class="glyphicon glyphicon-phone"></span> +963 944 476146
</address>