@using dubbingModel
@model IEnumerable<dialog>

<div id="dialogList">

    @foreach (var dialog in Model)
    {

        <div class="dialogContainer_@dialog.dialogIntno">
            @Html.Partial("_dialogDetails", dialog)
        </div>

    }

</div>