@using dubbingModel
@model IEnumerable<subtitle>

<!-- Table -->
<table class="table table-bordered">
    <tbody>
        @foreach (var subtitle in Model)
        {
            @Html.Partial("_subtitleDetails", subtitle)
        }

    </tbody>
</table>
