

@{

    ViewBag.Title = "Index";
}


<h2>Index</h2>
<div class="pull-right">
    <div class="btn-group" role="group" aria-label="...">
        <button id="filterActive" onclick="javascript: filterActive();" type="button" class="btn btn-default active">Active</button>
        <button id="filterCompleted" onclick="javascript: filterCompleted();" type="button" class="btn btn-default">Completed</button>
        
    </div>
</div>
<br />
<div id="worksContainer">
    @Html.Action("GetAdaptationWorks", new { isActive = true })
</div>


@section Scripts 
{
    <script>
        function filterActive() {
            updateWorks(true);
            
            $("#filterCompleted").removeClass("active");
            $("#filterActive").addClass("active");
        }
        function filterCompleted() {
            updateWorks(false);
            $("#filterActive").removeClass("active");
            $("#filterCompleted").addClass("active");
        }
        function updateWorks(status) {
            var url = '/adaptation/GetAdaptationWorks';
            $.ajax({
                url: url,
                data: { isActive: status },
                success: function (result) {
                    $("#worksContainer").empty();
                    $("#worksContainer").html(result);
                }
            });
        }
        $(function () {

        });
    </script>
}