

@{

    ViewBag.Title = "Index";
}


<h2>Index</h2>
<div class="pull-right">
    <div class="btn-group" role="group" aria-label="...">
        <button id="filterActive" onclick="javascript: filterActive();" type="button" class="btn btn-default active">Active</button>
        <button id="filterCompleted" onclick="javascript: filterCompleted();" type="button" class="btn btn-default">Completed</button>
        
    </div>
</div>
<br />
<div id="worksContainer">
    @Html.Action("GetAdaptationWorks", new { isActive = true })
</div>


@section Scripts 
{
    <script>
        function filterActive() {
            updateWorks(true);
            
            $("#filterCompleted").removeClass("active");
            $("#filterActive").addClass("active");
        }
        function filterCompleted() {
            updateWorks(false);
            $("#filterActive").removeClass("active");
            $("#filterCompleted").addClass("active");
        }
        function updateWorks(status) {
            var url = '/adaptation/GetAdaptationWorks';
            $.ajax({
                url: url,
                data: { isActive: status },
                success: function (result) {
                    $("#worksContainer").empty();
                    $("#worksContainer").html(result);
                }
            });
        }

        function importAdaptationFile() {
            var fileName = $("#importFileName").val();
            var orderTrnHdrIntno = $("#order").val();
            var url = '/adaptation/ImportFile';
            $.ajax({
                url: url,
                data: { orderTrnHdrIntno: orderTrnHdrIntno, fileName: fileName },
                success: function (result) {
                    alert('File Imported!');
                }
            });
            
        }

        $(function () {
            $('#importModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var id = button.data('order') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('#order').val(id);

            });
        });
    </script>
}