
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3>Sorry!</h3>
    <p class="lead"><small>User Is Not Authorized to Enter Studios. Please Contact Administration.</small></p>
</div>

