@model IEnumerable<dubbingModel.dubbDomain>

<div class="container-fluid" style="padding:0px">
    <div class="btn-group-sm">
        <button class="btn btn-primary" onclick="onStudioClick()" title="All"><small>All Studios</small></button>
        @{
            List<string> std = ViewBag.allocatedList;
            string btnColor;
            foreach (dubbingModel.dubbDomain item in Model)
            {
                if (std != null && std.FirstOrDefault(b => b == item.domainCode) != null)
                {
                    btnColor = "btn-success";
                }
                else
                {
                    btnColor = "btn-default";
                }
                <button class="btn @btnColor" onclick="onStudioClick('@item.domainCode')" title="Studio"><small>@item.domainValue</small></button>
            }
        }
    </div>
</div>

