<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <label>Adaptation &amp; Translation Assignment</label>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-xs" onclick="onActionCloseClick()" title="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("adaptationAddNew", "orders", 
                            new { oiList = ViewBag.oiList },
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                OnSuccess = "onSuccess",
                                UpdateTargetId = "formResult"
                            }))
            {
                @Html.AntiForgeryToken()

                <label class="alert-warning"><small>For Translation &amp; Adaptation, Selected Episodes MUST Belong to ONLY ONE Work</small></label>
                <br />

                <div class="form-group-sm">
                    <label><small>Translation By</small></label>
                    <div>
                        @Html.DropDownList("translator", ViewBag.translatorsList as SelectList, "Select Translator ...", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <label class="control-label"><small>Start Date</small></label>
                    <div class="col-sm-12" style="padding-left:0px">
                        <input type="date" class="form-control" name="startTranslation" />
                    </div>
                </div>

                <div class="form-group-sm">
                    <label class="control-label"><small>Finish Date</small></label>
                    <div class="col-sm-12" style="padding-left:0px">
                        <input type="date" class="form-control" name="endTranslation" />
                    </div>
                </div>

                <div class="form-group-sm">
                    <label><small>Adaptation By</small></label>
                    <span>
                        @Html.DropDownList("editor", ViewBag.adaptorsList as SelectList, "Select Editor ...", htmlAttributes: new { @class = "form-control" })
                    </span>
                </div>

                <div class="form-group-sm">
                    <label class="control-label"><small>Assigned Date</small></label>
                    <div class="col-sm-12" style="padding-left:0px">
                        <input type="date" class="form-control" name="startAdaptation" />
                    </div>
                </div>
                
                <div class="form-group-sm">
                    <label class="control-label"><small>Due Date</small></label>
                    <div class="col-sm-12" style="padding-left:0px">
                        <input type="date" class="form-control" name="startDischarge" />
                    </div>
                </div>
                
                <div class="form-group-sm">
                    <div class="col-sm-12" style="padding-left:0px">
                        <button type="submit" class="btn btn-default" onclick="onListSubmitClick()">Submit</button>
                    </div>
                </div>

                <div class="col-sm-12" style="padding-left:0px">
                    <small><label class="alert-success" id="formResult"></label></small>
                </div>
            }
        </div>
    </div>
</div>
