@{ string s = ViewBag.settingsList;
   string[] settingsList = s.Split(';'); }

<div class="container-fluid" style="padding:0px">
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding:5px">
            <div class="row">
                <div class="col-sm-12">
                    <small><label>Episodes ...</label></small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4"><small><label>From</label></small></div>
                <div class="col-sm-4">
                    <small><input class="episodeFilter" id="fromEpisode" style="width:50px" /></small>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-default btn-xs" tabindex="-1" onclick="onFindEpisodesClick()" style="width:40px">Find</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"><small><label>Through</label></small></div>
                <div class="col-sm-4">
                    <small><input class="episodeFilter" id="thruEpisode" style="width:50px" /></small>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-default btn-xs" tabindex="-1" onclick="onFilterClick()" style="width:40px">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading" style="padding:5px">
            <div class="row">
                <div class="col-sm-12">
                    <small><label>Open Issues ...</label></small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" onclick="onFilterClick('07')"><small>Received Quality</small></a>
                    <span><label class="badge alert-danger">@settingsList[0]</label></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a href="#" onclick="onFilterClick('08')"><small>Client Claims</small></a>
                    <span><label class="badge alert-danger">@settingsList[1]</label></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a href="#" onclick="onFilterClick()" title="All Episodes"><small>None</small></a>
                </div>
            </div>
        </div>
    </div>
</div>