<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <label>Episodes Selection Card</label>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-xs" onclick="onCloseClick()" title="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @Html.Hidden("oiListHF")

            <div class="row">
                <ol id="oiCard" style="padding-left:30px; padding-right:20px"></ol>
            </div>
            <br />

            <div class="row" style="text-align:center">
                <a href="#" onclick="onScheduleClick()">Add to Schedule</a><label>&nbsp;|</label>
                <a href="#" onclick="onAdaptationClick()">Send to Adaptation</a><label>&nbsp;|</label>
                <a href="#" onclick="onEpisodesEndorseClick()">Endorse</a>
            </div>
            <br />

            <div class="row" id="result"></div>
            <div class="row" id="selectionAction"></div>
        </div>
    </div>
</div>
