<br />
<div class="col-sm-12">
    <label>
        <span class="glyphicon glyphicon-lamp alert-warning"></span>
        <small>Tips ...</small>
    </label>
</div>

<p class="col-sm-12">
    <span class="glyphicon glyphicon-pushpin"></span>
    <small>
        Use this Pushpin Button on the Left Pane to Display Episodes belonging to the Selected Dubbing Work. This Button and Other Filters on Top of the Page help to Minimize the List of Displayed Episodes and therefore Help Limiting the List to those for Further Processing.
    </small>
</p>
<p class="col-sm-12">
    <small>
        Episodes in the List are Colored in Light Gray, Orange or Red to Indicate Different Status of an Episode: Normal, High Priority and Rejected respectively. 
    </small>
</p>
<p class="col-sm-12">
    <small>
        A Specific Date is Highlighted to Indicate the Current Processing Stage of an Episode, where Dates are Turned from Schedule to Actual Values.
    </small>
</p>
<p class="col-sm-12">
    <small>
        The Index Given to the Right of Episode No is the Order Number.
    </small>
</p>
<p class="col-sm-12">
    <span class="glyphicon glyphicon-triangle-right" style="border-color:black"></span>
    <small>
        Click this button to add an Episode to a Selection Card. Although the Selection Card Can Hold a Set of Episodes from Different Dubbing Works, which is Convenient for some Operations Like Scheduling, However Episodes MUST belong to ONLY ONE Work when it comes to Translation and Adaptation Operations.
    </small>
</p>
<p class="col-sm-12">
    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
    <small>
        To Get History about the different Production Stages related to an Episode click this Button. In addition, You can Increase / Decrease the Priority of an Episode by Clicking Promote / Demote to Accelarate its Production. Furthermore, You Can Permenantly Remove an Episode from the List (Care Should be Taken) by Clicking the Cancel Button, or You Can Reactivate a Rejected Episode by Clicking Active.
    </small>
</p>
<p class="col-sm-12">
    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
    <small>
        When the Bell Button is of Orange Color, it Signifies that the Episode have some Issues realted to the received Quality. When the Orange Color is Turned-Off, this means that the issues are resolved or there is no Quality Issue from the begining. Click the Bell Button to get Details abou the Initial Quality Reported Issues.
    </small>
</p>
<p class="col-sm-12">
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <small>
        When the this Button is Red, it Signifies that Client Feedback is there and some Issues are Reported on the Uploaded / Shipped Material, which Should Tracked and Addressed as per the Client Comments. When the Red Color is Converted to Green, this means that All Issues are Addressed. An Uncolored Button means that the Delivered Material is Okay.
    </small>
</p>
