@model IEnumerable<dubbingModel.dubbDomain>

<div class="container-fluid" style="padding:0px">
    <div class="btn-group-sm">
        @{
            List<string> std = ViewBag.allocatedList;
            string btnColor;
            foreach (dubbingModel.dubbDomain item in Model)
            {
                if (std.FirstOrDefault(b => b == item.domainCode) != null)
                {
                    btnColor = "btn-success";
                }
                else
                {
                    btnColor = "btn-default";
                }
                <button class="btn @btnColor" onclick="onStudioAllocationClick(@ViewBag.schedule, '@item.domainCode')" title="Allocation"><small>@item.domainValue</small></button>
            }
        }
    </div>
</div>

