@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

<div>
    @foreach (var role in Model)
    {
        <p>
            <a href="#" class="roleLbl" id="@role.Id" onclick="onRoleClick('@role.Id', true)"><strong>@role.Name</strong></a>
        </p>
    }
</div>
<br />
<strong>-----</strong>
<br />
<p>
    <a href="#" class="roleLbl" id="no-role" onclick="onRoleClick('no-role', true)"><strong>Users Not Assigned</strong></a>
</p>
